RewriteEngine On
RewriteBase /360land_admin/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^((?!(user|realestate|login|modsmod|others|ratings|feedback|noti))[^/].+)$ index.php?page=$1

RewriteRule ^((user|realestate|login|modsmod|others|ratings|feedback|noti).*) index.php?page=$1
